* {
  font-family: Arial, Helvetica, sans-serif;
  // transition: all .4s ease;
}

.clock-dial {
  width: 31.25rem;
  height: 31.25rem;
  border: 0.75rem solid #005363;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  // box-shadow: 0.625rem 0.625rem 0.125rem rgba(0, 0, 0, 0.341);
  box-shadow: rgba(50, 50, 93, 0.25) 0rem 1.875rem 3.75rem -0.75rem inset, rgba(0, 0, 0, 0.3) 0rem 1.125rem 2.25rem -1.125rem inset, rgba(0, 0, 0, 0.25) 0rem 0.875rem 1.75rem, rgba(0, 0, 0, 0.22) 0rem 0.625rem 0.625rem;
}

.point {
  width: 1.25rem;
  height: 1.25rem;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 15rem;
  left: 15rem;
  box-shadow: 0.1875rem 0.1875rem 0.0625rem rgba(0, 0, 0, 0.341);
  box-shadow: rgba(0, 0, 0, 0.25) 0rem 0.4375rem 1.75rem, rgba(0, 0, 0, 0.22) 0rem 0.3125rem 0.625rem;
  z-index: +1;
}

.hour {
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.25) 0rem 0.25rem 0.5625rem, rgba(0, 0, 0, 0.22) 0rem 0.125rem 0.25rem;
}

.hour-1 {
  top: 2.5rem;
  right: 8.125rem;
}

.hour-2 {
  top: 7.8125rem;
  right: 2.8125rem;
}

.hour-3 {
  top: 14.6875rem;
  right: 0.625rem;
}

.hour-4 {
  top: 21.5625rem;
  right: 2.8125rem;
}

.hour-5 {
  top: 26.875rem;
  right: 8.125rem;
}

.hour-6 {
  bottom: 0.625rem;
  left: 15rem;
}

.hour-7 {
  top: 26.875rem;
  left: 8.125rem;
}

.hour-8 {
  top: 21.5625rem;
  left: 2.8125rem;
}

.hour-9 {
  top: 14.6875rem;
  left: 0.625rem;
}

.hour-10 {
  top: 7.8125rem;
  left: 2.8125rem;
}

.hour-11 {
  top: 2.5rem;
  left: 8.125rem;
}

.hour-12 {
  top: 0.625rem;
  left: 14.6875rem;
}

// --------- HOUR HAND ---------

.hour-hand-wrapper {
  width: 18.75rem;
  height: 18.75rem;
  position: absolute;
  top: 6.25rem;
  left: 6.25rem;
  border-radius: 50%;
}

.hour-hand {
  position: relative;
}

.hour-hand .hand {
  width: 0.25rem;
  height: 9.375rem;
  background-color: #005363;
  position: absolute;
  left: 9.25rem;
  // box-shadow: rgba(0, 0, 0, 0.5) 0rem 0rem 0.25rem, rgba(0, 0, 0, 0.22) 0rem 0rem 0.5625rem;

}

.hour-hand .arrow {
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
  transform: rotate(180deg);
  position: absolute;
  left: 8.75rem;
  top: -0.4375rem;
}

// --------- MINUTE HAND ---------

.minute-hand-wrapper {
  width: 25rem;
  height: 25rem;
  position: absolute;
  top: 3.125rem;
  left: 3.125rem;
  border-radius: 50%;
}

.minute-hand {
  position: relative;
}

.minute-hand .hand {
  width: 0.25rem;
  height: 12.5rem;
  background-color: #005363;
  position: absolute;
  left: 12.375rem;
  // box-shadow: rgba(0, 0, 0, 0.5) 0rem 0rem 0.25rem, rgba(0, 0, 0, 0.22) 0rem 0rem 0.5625rem;

}

.minute-hand .arrow {
  font-size: 1.875rem;
  font-weight: bold;
  color: black;
  transform: rotate(180deg);
  position: absolute;
  left: 11.875rem;
  top: -0.4375rem;
}

// --------- SECOND HAND ---------

.second-hand-wrapper {
  width: 21.875rem;
  height: 21.875rem;
  position: absolute;
  top: 4.6875rem;
  left: 4.6875rem;
  border-radius: 50%;
}

.second-hand {
  position: relative;
}

.second-hand .hand {
  width: 0.125rem;
  height: 10.9375rem;
  background-color: #d32020;
  position: absolute;
  left: 10.875rem;
  // box-shadow: rgba(0, 0, 0, 0.5) 0rem 0rem 0.25rem, rgba(0, 0, 0, 0.22) 0rem 0rem 0.5625rem;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
}
